* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg);
    color: var(--text-white);
    font-family: var(--font-main);
    line-height: 1.6;
    overflow-x: hidden;
}

a { 
    text-decoration: none; 
    color: inherit;
    transition: 0.3s; 
}

ul { 
    list-style: none; 
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}
.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;
}

.text-green { color: var(--accent-green); }
.script-font { font-family: var(--font-script); }

.section-title {
    font-family: var(--font-heading);
    font-size: 2.5rem; /* Unified size */
    font-weight: 800;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--text-white);
}

.divider {
    border: 0;
    height: 2px;
    background-color: var(--text-white);
    margin: 45px;
}